
.header-section{
    background-color:#101446 ;
}
.header-logo a img{
    width: 120px;
}
.header-menu{

}
.header-menu ul{
    list-style: none;
    text-align: right;
    margin-bottom: 0;
}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    padding:10px 20px
    /* line-height:56px; */
}
.header-menu ul li:last-child a{
    padding-right: 0;
}

/* slider section */
.slider-section{
    background: url(https://i.ibb.co/pXr9Cmn/intro-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 200px 0;
    position: relative;
    z-index: 1;
    color: #fff;
}
.slider-section ::before{
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   background: rgba(0, 0, 0, 0, 6 );
   z-index: -1;
}
/* About_section */
.about-section{
    background:#bac2f3 ;
}
.about-image img{
    width: 50%;
    margin: auto;
}
.about-item-text p{
    width: 50%;
    margin: auto;
}
/* team_section */
.team-section{
    background-color:#c2d4ea ;
    
}
.left-areaImage{
    width: 25%;
}
.left-areaImage img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.right-areatext{
    width: 55%;
}

/* last_section */
.div1{
    background-color: #0062d3;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 15px;
}